

<launch>
	
	
	<!--param name="ch_bot_model" command="$(find xacro.py) '$(find ch_bot_description)/urdf/ch_bot.xacro'" /-->

	<machine name="rosPi" address="192.168.1.32" env-loader="/home/pi/ch-bot_ws/devel/env.sh" user="pi"/>

	<node machine="rosPi" pkg="ch_bot" name="wheel_motor_controller_node" type="wheel_motor_controller_node" />

	<node machine="rosPi" pkg="pi_teleop_PS2" name="foo" type="setPiGpio.sh"/>

	<node machine="rosPi" pkg="pi_teleop_PS2" name="pi_teleop_PS2_node" type="pi_teleop_PS2_node">
		<param name="x_limit" type="double" value="0.5" />
		<param name="y_limit" type="double" value="0.5" />
		<param name="yaw_limit" type="double" value="0.5" />
	</node> 
	
	
	
	<param name="robot_description" command="xacro '$(find ch_bot_description)/urdf/ch_bot.xacro'" />


	


		


</launch>
